{% extends 'base.html' %}

{% block content %}

<div class="container-fluid">
    <div class="row mt-4">

        <!-- Card 1 -->
        <div class="col-lg-4 col-md-6 col-12">
            <div class="small-box bg-success">
                <div class="inner">
                    <h4>Your Mentor</h4>
                    <p>No mentor assigned</p>
                </div>
            </div>
        </div>

        <!-- Card 2 -->
        <div class="col-lg-4 col-md-6 col-12">
            <div class="small-box bg-warning">
                <div class="inner">
                    <h3>0</h3>
                    <p>Pending Requests</p>
                    <a href="#" class="btn btn-light btn-sm mt-2">View Requests</a>
                </div>
            </div>
        </div>

        <!-- Card 3 -->
        <div class="col-lg-4 col-md-6 col-12">
            <div class="small-box bg-info">
                <div class="inner">
                    <h4>Find Mentor</h4>
                    <p>Browse Alumni</p>
                    <a href="#" class="btn btn-light btn-sm mt-2">Search Alumni</a>
                </div>
            </div>
        </div>

    </div>
</div>

{% endblock %}